<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="docmainpage.css">
    <title>Doctor Verification</title>
</head>
<body>
    <% if (typeof verification !== 'undefined' && !verification) { %>
        <script>
          alert("We are working on your request ");
        </script>
      <% }else if (typeof requestsucsefuly !== 'undefined' && requestsucsefuly) { %>
        <script>
          alert("Request has been sent sucsefuly");
        </script>
      
      <% }else if (typeof requestsucsefuly !== 'undefined' && !requestsucsefuly) { %>
        <script>
          alert("Some error has ocured trying or Please contact us healr.society@gmail.com");
        </script>
      
      <% }else if (typeof verificationExist !== 'undefined' && !verificationExist) { %>
        <script>
          alert("You haven't made a verification request yet. Please make a request or check your email. The email should be the same as you entered in the verification process.");
        </script>
    
      <% }else if (typeof userExist !== 'undefined' && userExist) { %>
        <script>
          alert("user alerdy exist try to login ");
        </script>
      <% } %>

    <div class="mainpage-container">
        <div class="mainpage-box">
            <div class="heading-text">
                <h2>Hello Doctor!</h2>
            <p>To join our community, you need to verify. For this, please provide the following details:</p>
            </div>

    <form action="/doc" method="POST" enctype="multipart/form-data">
        <div class="form-components">
        <label for="images">Upload Images:</label>
        <input type="file" id="images" name="doqment" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;" ><br>

        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="username">Your email:</label>
        <input type="email" id="username" name="username" required><br>

        <button type="submit">Verify and Join</button>
    </form>
        </div>

    <p style="margin-top: 9px;">Already verified? <a href="/docSignup">Click here</a></p>

        </div>
    </div>
</body>
</html>