<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Registration Form</title>
</head>
<body>
    <form action="/docSignup" method="POST" enctype="multipart/form-data" >
        <label for="username">Email:</label>
        <input type="email" id="username" name="username" required><br>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <label for="experience">Years of Experience:</label>
        <input type="number" id="experience" name="yearOfExprience" required><br>

        <label for="profession">Profession:</label>
        <input type="text" id="profession" name="Profession" required><br>

        <label for="about">About You:</label>
        <textarea id="about" name="about" rows="4" required></textarea><br>

        <label>Fees:</label><br>
        <label for="callFee">Call:</label>
        <input type="number" id="callFee" name="feescall" required><br>

        <label for="videoCallFee">Video Call:</label>
        <input type="number" id="videoCallFee" name="feesvideoCall" required><br>

        <label for="messageFee">Message:</label>
        <input type="number" id="messageFee" name="feesmessage" required><br>

        <label for="inRealLifeFee">In Real Life:</label>
        <input type="number" id="inRealLifeFee" name="feesinRealLife" required><br>

        <label>Working Days:</label><br>
        <input type="radio" id="weekdays" name="workingdays" value="weekdays" required><label for="weekdays">Weekdays</label>
        <input type="radio" id="everyday" name="workingdays" value="everyday" required><label for="everyday">Everyday</label><br>

        <label for="availableTimes">Available Times:</label>
        <input type="checkbox" id="8am" name="acceptedTime" value="8"><label for="8am">8AM</label>
        <input type="checkbox" id="10am" name="acceptedTime" value="10"><label for="10am">10AM</label>
        <input type="checkbox" id="12pm" name="acceptedTime" value="12"><label for="12pm">12PM</label>
        <input type="checkbox" id="12pm" name="acceptedTime" value="12"><label for="2pm">2PM</label>
        <input type="checkbox" id="12pm" name="acceptedTime" value="12"><label for="4pm">4PM</label>
        <input type="checkbox" id="12pm" name="acceptedTime" value="12"><label for="6pm">6PM</label>
        <input type="checkbox" id="12pm" name="acceptedTime" value="12"><label for="8pm">8PM</label>
       

        <label for="imgS">Image Small:</label>
        <input type="file" id="imgS" name="imagesS"  required><br>

        <label for="imgB">Image Big:</label>
        <input type="file" id="imgB" name="imagesB"  required><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>