<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>login page</h1>
    <div >
        <div ></div>
        <h2 >Sign up</h2>
        <form action="/signin" method="POST">
            <div class="form-group">
                <label for="email">
                    <i></i>
                </label>
                <input
                    type="email"
                    name="username"
                    id="email"
                    placeholder="Your Email"
                    required
                />
            </div>
            <div>
                <label for="pass">
                    <i ></i>
                </label>
                <input
                    type="password"
                    name="password"
                    id="pass"
                    placeholder="Password"
              
                    required
                />
            </div>
            
            <div >
                <button type="submit" class="form-submit">SignUp</button>
            </div>
        </form>
        <a href="/signup" >
            New in HealR
        </a>
    </div>
    
</body>
</html>